@model NewsViewModel
@{
    Layout = null;
}

<section id="biography" class="bg-dark py-5 my-0">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-12">
                <h1 class="text-white">News</h1>
            </div>
            <div class="col-12">
                <div class="row">
                    @foreach (News news in Model.NewsList.OrderByDescending(n => n.CreatedDate).Take(3))
                    {
                        <div class="col-12 col-md-6 col-lg-4 my-5">
                            <div class="news-card rounded">
                                <div class="image-box">
                                    <img src="~/assets/img/news/news-@news.Id/@news.Image" class="w-100 h-100 rounded" alt="">
                                    <div class="date">
                                        <h2 class="text-white">@news.CreatedDate.GetValueOrDefault().ToString("MMM dd")</h2>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2>@news.Title</h2>
                                    <div class="my-3">
                                        @Html.Raw(news.ShortDescription)
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <p class="comment mx-1"><i class="far fa-comment"> @news.PostComments.Where(pc=>pc.Comment.IsActive).Count()</i></p>
                                            <p class="like mx-1"><i class="far fa-heart"></i> 5</p>
                                        </div>
                                        <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="news-card__btn">Go Detail...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>