@model NewsDetailViewModel
@{
    ViewData["Title"] = "Detail";
    int count = 0;
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading page-title-icon-rounded">
            <div class="page-title-icon">
                <i class="pe-7s-id icon-gradient bg-tempting-azure font-weight-bolder">
                </i>
            </div>
            <div>
                <h1>News Detail</h1>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 m-3">
        <h1>@Model.News.Title</h1>
    </div>
    <div class="col-12 mx-3 my-5  d-flex justify-content-center">
        <img src="~/assets/img/character-@Model.News.Id/@Model.News.Image" width="250" height="250" class="rounded-circle" />
    </div>
    <div class="col-12 m-3">
        <h2><strong>Blogger :</strong> <i>@Model.News.Blogger</i></h2>
    </div>
    <div class="col-12 m-3">
        <h2><strong>News :</strong> <i>@Html.Raw(Model.News.Text)</i></h2>
    </div>
    <div class="col-12 m-3">
        <h2><strong>Created Date :</strong> <i>@Model.News.CreatedDate</i></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 m-3">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">News Characters</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Character</th>
                            <th>Delete</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        @for (int i = 0; i < Model.News.CharacterNews.Count(); i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.News.CharacterNews[i].Character.Name</td>
                                <td><a asp-action="DeleteCharacter" asp-route-id="@Model.News.CharacterNews[i].Character.Id" class="mb-2 mr-2 btn btn-outline-danger"><i class="pe-lg pe-7s-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 m-3">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">News Tags</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tag</th>
                            <th>Delete</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        @for (int i = 0; i < Model.News.TagNews.Count(); i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.News.TagNews[i].Tag.Title</td>
                                <td><a asp-action="DeleteTag" asp-route-id="@Model.News.TagNews[i].Tag.Id" class="mb-2 mr-2 btn btn-outline-danger"><i class="pe-lg pe-7s-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-12 m-3">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">News Tags</h5>
            <table class="mb-0 table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Message</th>
                        <th>Sended Date</th>
                    </tr>
                </thead>
                <tbody>                    
                    @foreach (var postComment in Model.News.PostComments)
                    {

                        if (postComment.Comment.IsActive || (!postComment.Comment.IsActive && User.IsInRole(Role.SuperAdmin.ToString())))
                        {
                            {
                                count++;
                            }
                            <tr>
                                <th scope="row">@count</th>
                                <td>@postComment.Comment.User.UserName</td>
                                <td>@postComment.Comment.Message</td>
                                <td>@postComment.Comment.CreatedDate.ToString("dd MMM yyyy HH:dd")</td>
                                @if (User.IsInRole(Role.SuperAdmin.ToString()))
                                {
                                    <td><a asp-action="MakeActiveOrDeactiveMessage" asp-route-id="@postComment.CommentId" class="mb-2 mr-2 btn @(postComment.Comment.IsActive?"btn-outline-danger":"btn-outline-success")"><i class="pe-lg @(postComment.Comment.IsActive?"pe-7s-trash":"pe-7s-refresh")"></i></a></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
